@font-face {
  font-weight: 400;
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  src: local("Inter"), url("/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  src: local("Inter"), url("/fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-weight: 900;
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  src: local("Inter"), url("/fonts/Inter-Black.woff2") format("woff2");
}

body {
  margin: 0;
  // background-color: #FCC850;
  background-color: #FEAFC3;
  font-family: "Inter", "Arial", sans-serif;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
